node_modules/
.env
.vscode/
build/
todo
# just in case chrome forced using https i've added the cert to gitignore
localhost.pem
localhost-key.pem
lectures/
recordings/
test/unit/SendVideo/videoTstC.webm
env:Zone.Identifier
static/
zip_state.txt
.devcontainer/docker-compose.yml
.devcontainer/devcontainer.json
main_trash.ts
